# Database
MONGODB_URI=your_mongodb_connection_string

# JWT Secret
JWT_SECRET=your_jwt_secret_key

# Email Configuration
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_email_app_password

# Monnify Configuration
MONNIFY_API_KEY=MK_TEST_your_monnify_api_key
MONNIFY_SECRET_KEY=your_monnify_secret_key
MONNIFY_CONTRACT_CODE=your_monnify_contract_code
MONNIFY_BASE_URL=https://sandbox.monnify.com
# Your Monnify settlement account for transfers (found in Settings > Bank Account)
# This account will be debited when users make transfers
MONNIFY_SOURCE_ACCOUNT=9964840075

# Monnify Webhook URLs
MONNIFY_WEBHOOK_URL=https://your-ngrok-url.ngrok-free.app/api/monnify/webhook
BASE_URL=https://your-ngrok-url.ngrok-free.app


# Flutterwave Configuration (for disbursements)
FLUTTERWAVE_SECRET_KEY=FLWSECK_TEST-85f94c2bc30ee483f2f8852504a8f50b-X
FLUTTERWAVE_PUBLIC_KEY=FLWPUBK_TEST-0b2f5b021fc06ae6aac4b4fc6afb04bb-X
FLUTTERWAVE_ENCRYPTION_KEY=FLWSECK_TEST64537151e430
FLUTTERWAVE_BASE_URL=https://api.flutterwave.com/v3

# Server Configuration
PORT=5000
NODE_ENV=development

